extends layout

block content
  div.main
    .container
      .content
        if (players.length)
          h1="Choose your Чепуша (себя надо выбрать...)"
        else 
          h1="Покемоны закончились ((" 
        .player-list
          each player in players
            a.player-list__item(href=`/become-santa?playerId=${player.id}`)
              .player-list__name #{player.name}
              img.player-list__photo(src=`/images/players/${player.id}.webp`)
